version: '3.9'
services:
  vaultwarden:
    image: vaultwarden/server:1.32.5@sha256:84015c9306cc58f4be8b09c1adc62cfc3b2648b1430e9c15901482f3d870bd14
    hostname: vaultwarden
    container_name: vaultwarden__vaultwarden
    restart: unless-stopped

    environment:
      SIGNUPS_ALLOWED: 'false'
      ADMIN_TOKEN: ${ADMIN_TOKEN}

    volumes:
      - type: volume
        source: vaultwarden_data
        target: /data

    expose:
      - 80

    networks:
      - outband

    deploy:
      resources:
        limits:
          memory: 256m

  cloudflared:
    image: cloudflare/cloudflared:2024.11.0@sha256:2c78df02e1f23ab19d4c636921f05b9ebec163b887e946f98e22e56254a5540f
    hostname: cloudflared
    container_name: vaultwarden__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}

    networks:
      outband:
      prometheus__cloudflared:
        aliases:
          - vaultwarden__cloudflared

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  vaultwarden_data:
    name: vaultwarden__vaultwarden_data
  mariadb_data:
    name: vaultwarden__mariadb_data

networks:
  outband:
    name: vaultwarden__outband

  prometheus__cloudflared:
    name: prometheus__cloudflared 
    external: true
