version: '3.9'
services:
  vaultwarden:
    image: vaultwarden/server:1.35.2@sha256:d89a6d21e361254670c24a4272b4b5f245e402c284f2f55de2c379fdbcfa1fa5
    hostname: vaultwarden
    container_name: vaultwarden__vaultwarden
    restart: unless-stopped

    environment:
      SIGNUPS_ALLOWED: 'false'
      ADMIN_TOKEN: ${ADMIN_TOKEN}

    volumes:
      - type: volume
        source: vaultwarden_data
        target: /data

    expose:
      - 80

    networks:
      - outband

    deploy:
      resources:
        limits:
          memory: 256m

  cloudflared:
    image: cloudflare/cloudflared:2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    hostname: cloudflared
    container_name: vaultwarden__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}

    networks:
      outband:
      prometheus__cloudflared:
        aliases:
          - vaultwarden__cloudflared

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  vaultwarden_data:
    name: vaultwarden__vaultwarden_data
  mariadb_data:
    name: vaultwarden__mariadb_data

networks:
  outband:
    name: vaultwarden__outband

  prometheus__cloudflared:
    name: prometheus__cloudflared 
    external: true
